#box {
  margin: 5px;
  background-color: black;
  box-sizing: border-box;
  padding: 100px;
  padding-bottom: 500px;
}
body {
  background-color: rgb(29, 29, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#search {
  width: 170px;
  background-color: black;
  height: 32px;
  border: 1px blue solid;
  color: white;
}
.addBtn {
  width: 55px;
  height: 30px;
  background-color: blue;
  color: white;
  border: 1px blue solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#mytodo {
  font-size: large;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

#mytodo li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkblue;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
}

h1 {
  margin-top: -75px;
}
.btn {
  display: flex;
}
